* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

/* nav css */

.navegacion {
  background-color: #8e0606;
  padding: 15px 30px !important;
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 50px !important;
  transition: 0.32s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.custom-center {
  display: flex;
  justify-content: center;
  width: 100%;
}


.navegacion .navbar-brand img {
  height: 80px;
  width: 110px;
  padding-top: 15px;
  box-shadow: 0px 7px 3px rgba(0, 0, 0, 0.1);
}

.navegacion .navbar-nav .nav-link {
  color: #fff;
  margin: 0px 40px;
  transition: all 0.3s ease 0s;
}

.navegacion .navbar-brand,
.navegacion .navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

.custom-offcanvas{
  background-color: #072146 !important;
  color: #fff !important;
  box-shadow: 10px 0 -5px rgba(0, 0, 0, 0.4);
  width: 300px !important;
  padding: 20px;
}

.custom-offcanvas img{
  max-width: 50% !important;
}

.custom-toggle-button{
  background-color: #fff !important;
  border: none;

}

.custom-toggle-button .navbar-toggler-icon {
  padding: 5px;
  color: #fff !important;
}

/* footer */

.footer {
  background-color: #181818;
  color: #fff;
  padding: 30px 0 0;
  margin-top: 100px;
}

.footer-logo img {
  width: 190px;
  margin-left: 50px;
}

.footer-contact, .footer-service {
  color: #fff;
}

.footer-contact h3, .footer-service h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-contact p, .footer-service p {
  font-size: 1rem;
  margin: 5px 0;
}

.social-icons {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons svg {
  font-size: 30px;
  padding: 5px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social p {
  margin-top: 10px;
}

.footer .footer-div {
  padding: 2px;
  color: #fff;
  background-color: #3F354B;
  margin: 0;
  border-radius: 0;
}

.footer .footer-div .card-body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-div p:first-child {
  margin-right: 40px;
}

/* login */

.loginCard {
  height: 450px !important;
  width: 700px;
  display: block !important;
  margin: 200px auto !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
}

.loginCard h1 {
  margin-top: 20px;
}

.imagen-login{
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: block;
}

.SignIn-Button {
  background-color: #d40000 !important;
  color: white;
  border: none !important;
  transition: all 0.3s ease 0s;
  display: block !important; /* Hacer que el botón sea un bloque para ocupar el ancho completo */
  margin: auto auto !important;
  text-align: center;
}

.SignIn-Button:hover{
  background-color: rgb(255, 4, 0) !important;
  color: white;
  transform: scale(1.1);
}

.text-danger{
  font-size: 12px !important;
}

/* especialidad */

.card-especialidad{
  width: 200% !important;
}

.card{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
}

.card-especialidad .card-Header{
  justify-content: space-between;
}

.input-group {
  width: 200px !important;
}

.margen-title{
  margin-top: 150px;
}

/* Aplicar un margen a los botones */
.btn.btn-success {
  margin: 10px !important;
}

/* Aplicar un margen al botón de cancelación */
.btn.btn-danger {
  margin: 10px !important;
}

.delete-button{
  background-color: #dc3545 !important;
  border: none !important;
}

.edit-button{
  background-color: #ffc107 !important;
  border: none !important;
}

.botones-td {
  display: flex; /* Hace que los elementos hijos se muestren en línea */
  gap: 10px; /* Espacio entre los botones */
}

.mi-modal-form {
  margin: 0 auto; /* Centra horizontalmente */
  padding: 5px !important;
}

.mi-delete-button{
  background-color: #dc3545 !important;
  border: none !important;
  padding: 9px !important;
  border-radius: 7px !important;
}

.mi-edit-button{
  background-color: #ffc107 !important;
  border: none !important;
  padding: 9px !important;
  border-radius: 7px !important;
}